# compiled function files
**.pyc


# data files
**/data/**
**.dat
**.dat.gz
**.nc
**.txt


# figure files
/figures/**
/figures_final/**



# local files
**/.DS_Store


# pdf files
**/nhc_outlook_summary/**.pdf

# shape files
**.dbf
**.prj
**.shp
**.shp.xml
**.shx
**.rtf
